.space{
    width: 100%;
    height: 36vh;

}

nav {
    position: fixed;
}

#space-background{
    width: 100%;
    height: 92vh;
}

.min-space{
    width: 100%;
    height: 6vh;
}

#s22-image {
    background-image: url(images/galaxy-s22-ultra-lancamento-brasil-capa_k9v7.jpg) ;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 72vh;
}

.display-about{
    background-color: white;
    width: 100%;
    height: 42vh;
}
.display-about h3{
    padding-top: 30px;
    padding-bottom: 20px;
}

.display-about p{
    margin-left: 10%;
    margin-right: 10%;
}

#s22-battery{
    background-image: url(images/Samsung-109138611-br-feature-galaxy-s22-ultra-s908-531161483--FB_TYPE_A_JPG-.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 72vh;
}

.divider{
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}